<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mi Proyecto Astro</title>
</head>
<body>
  <h1 class="text-3xl font-bold underline">Bienvenido a mi sitio</h1>
  <button class="btn-primary">Explora Flowbite</button>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.0/flowbite.min.js"></script>
</body>
</html>